<app-basis-layout headline="Impressum">
  <ion-row>
    <ion-col>
      <h1>Impressum</h1>

      <p>Frank Klomfas<br />
      Treskowstra&szlig;e 21<br />
      Geb&auml;ude 44<br />
      13507 Berlin Berlin</p>

      <h2>Kontakt</h2>
      <p>Telefon: +49 (0) 92278547<br />
      Telefax: +49 (0) 123 44 55 99<br />
      E-Mail: autoclone&#64;web.de</p>

      <h2>Redaktionell verantwortlich</h2>
      <p>Frank Klomfas<br />
      Treskowstra&szlig;e 21<br />
      13507 Berlin</p>

      <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </ion-col>
  </ion-row>
</app-basis-layout>
