<!-- <app-basis-layout headline="Über &quot;firetrain-Schedule&quot;">
  <ion-row>
    <ion-col></ion-col>
  </ion-row>

  <pre>
    {{ buildObj | json}}
  </pre>
</app-basis-layout> -->

<ion-header>
  <ion-toolbar>

    <ion-title>Firetrain-Schedule</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="onCancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        Version:
      </ion-col>
      <ion-col>
        {{ buildObj.buildVersion}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        Build-Nr:
      </ion-col>
      <ion-col>
        {{ buildObj.buildNo}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Datum</ion-col>
      <ion-col>{{ buildObj.timeStamp | date }}</ion-col>
    </ion-row>

    <!-- <pre>
      {{ buildObj | json}}
    </pre> -->
  </ion-grid>
</ion-content>

