<ion-footer id="main-footer">
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom">
        <ion-tab-button   [routerLink]="'/workout-list'">
          <ion-icon name="home-outline"  color="dark" ></ion-icon>
        </ion-tab-button>

        <ion-tab-button  [routerLink]="'/options'">
          <ion-icon name="menu"></ion-icon>
        </ion-tab-button>

        <!-- <ion-tab-button tab="" [routerLink]="'/home'">
          <ion-icon name="stats-chart-outline" color="dark"></ion-icon>
        </ion-tab-button> -->

         <!-- <ion-tab-button  [routerLink]="'/settings'">
          <ion-icon name="settings"></ion-icon>
        </ion-tab-button> -->
      </ion-tab-bar>
    </ion-tabs>
</ion-footer>

