.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.form-container {
  position: relative;
  padding: 1rem;
  border: 2px solid var(--ion-color-danger);
  border-radius: 7px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: -50px 0 1rem 0;
  ion-label {
    // margin-bottom: 0.5rem;
  }

  ion-icon {
    padding: 1rem;
    margin: 0 auto .5rem auto;
    border-radius: 50%;
    border: 2px solid var(--ion-color-danger);
    background: var(--ion-color-white);
  }
  ion-label {
    text-align: center;
  }
}