.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.form-container {
  position: relative;
  padding: 1rem;
  border: 2px solid var(--ion-color-danger);
  border-radius: 7px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: -50px 0 1rem 0;

  ion-icon {
    padding: 1rem;
    margin: 0 auto .5rem auto;
    border-radius: 50%;
    border: 2px solid var(--ion-color-danger);
    background: var(--ion-color-white);
  }
  ion-label {
    text-align: center;
  }
}


.button-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  ion-text {
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--ion-color-dark);
    line-height:  0.1em;
    margin: 1rem 0;
    span {
      background-color: var(--ion-color-white);
      padding:0 10px;
    }
  }
}

form {
  ion-input {
    max-width: 85%;
  }
}

// form {
//   ion-item {
//     position: relative;
//     .error-note {
//       position: absolute;
//     }
//   }
// }



