<ion-content [fullscreen]="true" class="">
  <ion-grid>
    <!--
    ********************************************************************************
    *****
    ***
    * Header
    ***
    *****
    ********************************************************************************
    -->
    <ion-row>
      <ion-col size="12">
        <div class="form-wrapper">
          <div class="form-container">
            <div class="icon-container">
              <ion-icon name="person-outline" size="large" color="danger" class="icon-big" *ngIf="isLogin"></ion-icon>
              <ion-label *ngIf="isLogin">
                <h2>Login</h2>
              </ion-label>

              <ion-icon name="create-outline" size="large" color="danger" class="icon-big" *ngIf="!isLogin"></ion-icon>
              <ion-label *ngIf="!isLogin">
                <h2>Registrieren</h2>
              </ion-label>
            </div>

            <!--
            ********************************************************************************
            *****
            ***
            * Form
            ***
            *****
            ********************************************************************************
            -->

            <form (ngSubmit)="isLogin ? onLogin() : onRegister()" [formGroup]="credentialsForm" autocomplete="on">
              <!--
              ****************************************
              email
              ****************************************
              -->
              <ion-item>
                <ion-input type="email" label="Email" formControlName="email" aria-label="Email" [clearInput]="true"
                  labelPlacement="floating" (focusout)="onLeaveFromCtrl('email')">
                </ion-input>
              </ion-item>
              <div class="error-msg" *ngIf="email?.invalid && !isLogin && (inputValueFormCtrls?.email || isSubmit)">
                <ion-text color="danger" *ngIf="email?.hasError('required')">
                  Bitte trage Deine Email-Adresse ein.
                </ion-text>
                <ion-text color="danger" *ngIf="email?.hasError('email')">
                  Email Adresse ist fehlerhaft.
                </ion-text>
                <ion-text color="danger" *ngIf="email?.hasError('userExists')">
                  Diese Email exestiert schon. Bitte wähle eine andere.
                </ion-text>
              </div>
              <!--
              ****************************************
              password
              ****************************************
              -->
              <ion-item>
                <ion-input type="password" label="Passwort" aria-label="Passwort" labelPlacement="floating" [clearInput]="true"
                  formControlName="password" [type]="showPassword ? 'text' : 'password'" [autocomplete]="'off'"
                  (focusout)="onLeaveFromCtrl('password')"></ion-input>
                @if(showPassword) {
                <ion-icon class="c-pointer" color="danger" name="eye-off-outline"
                  (click)="togglePasswordVisibility()"></ion-icon>
                } @else {
                <ion-icon class="c-pointer" color="danger" name="eye-outline" (click)="togglePasswordVisibility()">
                </ion-icon>
                }
              </ion-item>
              <div class="error-msg"
                *ngIf="password?.invalid && !isLogin && (inputValueFormCtrls?.password || isSubmit)">
                <ion-text color="danger" *ngIf="password?.hasError('required')">
                  Bitte trage Deine Password ein.
                </ion-text>
                <ion-text color="danger" *ngIf="password?.hasError('minlength')">
                  Das Password muss mindestens
                  {{ password?.errors?.['minlength'].requiredLength }} haben.
                </ion-text>
              </div>
              <!--
              ****************************************
              confirm password
              ****************************************
              -->
              <ion-item *ngIf="!isLogin">
                <ion-input type="password" label="Passwort wiederholen" formControlName="confirmPassword" [clearInput]="true"
                  [type]="showConfirmPassword ? 'text' : 'password'" aria-label="Passwort wiederholen"
                  [autocomplete]="'off'" labelPlacement="floating"
                  (focusout)="onLeaveFromCtrl('confirmPassword')"></ion-input>
                @if (showConfirmPassword) {
                <ion-icon class="c-pointer" color="danger" name="eye-off-outline"
                  (click)="togglePasswordVisibility(true)"></ion-icon>
                } @else {
                <ion-icon class="c-pointer" color="danger" name="eye-outline"
                  (click)="togglePasswordVisibility(true)"></ion-icon>
                }
              </ion-item>
              <div class="error-msg"
                *ngIf=" confirmPassword?.invalid && !isLogin && (inputValueFormCtrls?.confirmPassword || isSubmit) ">
                <ion-text color="danger" *ngIf="confirmPassword?.hasError('required') ">
                  Bitte trage Deine Password ein.
                </ion-text>
                <ion-text color="danger" *ngIf="confirmPassword?.hasError('mustMatch') && password?.valid">
                  Das Password stimmt nicht überein.
                </ion-text>
              </div>

              <ion-button fill="clear" color="danger" routerLink="../changePw" [queryParams]="{action: 'forgottenPW'}"
                *ngIf="isLogin">
                Passwort vergessen</ion-button>

              <ion-button type="submit" expand="block" color="danger" fill="outline">
                <ion-text *ngIf="isLogin">Login</ion-text>
                <ion-text *ngIf="!isLogin">Registrieren</ion-text>
              </ion-button>

              <div class="button-group" *ngIf="isLogin">
                <ion-text><span>Noch kein Account?</span></ion-text>
                <ion-button (click)="isLogin = false" fill="outline" color="danger">
                  Registrieren
                </ion-button>
              </div>

              <div class="button-group" *ngIf="!isLogin">
                <ion-text> Du hast ein Account? </ion-text>
                <ion-button (click)="isLogin = true" fill="outline" color="danger">
                  Login
                </ion-button>
              </div>
            </form>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
