<!-- @if (isFirst) { -->
<ion-row>
  <ion-col size="7" class="set-acion-container">
    <ion-text class="reps-action-title d-inline"> Sets: </ion-text>
    <ion-button fill="none" (click)="addTrainingGoal()">
      <ion-icon color="primary" name="add-circle-outline"> </ion-icon></ion-button>
    <ion-button fill="none" (click)="removeTrainingGoal()">
      <ion-icon color="danger" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-col>

</ion-row>
<!-- } -->
<ion-row>
  <ion-col>
    <form class="form" [formGroup]="resultForm">

      <div formArrayName="result">
        @for (result of itemControls.controls; track result; let index = $index){
        <div [formGroupName]="index" class="result-container">
          <ion-row>
            <ion-col size="3">
              <ion-item fill="fill">
                <ion-input type="number" label="G" aria-label="Gewicht" labelPlacement="floating" [clearInput]="false"
                  formControlName="weight" (ionChange)="onChanceValue(index)"
                  [readonly]="getDoneCtrl(index)?.value && getWeightCtrl(index)?.valid && getRepsCtrl(index)?.valid ? true : false">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item fill="fill">
                <ion-input type="number" label="R" aria-label="Reps" labelPlacement="floating" [clearInput]="false"
                  formControlName="reps" (ionChange)="onChanceValue(index)"
                  [readonly]="getDoneCtrl(index)?.value && getWeightCtrl(index)?.valid && getRepsCtrl(index)?.valid ? true : false">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-item fill="fill">
                <ion-input type="number" label="N-R" aria-label="Negative Reps" labelPlacement="floating"
                  [clearInput]="false" formControlName="nreps" (ionChange)="onChanceValue(index)"
                  [readonly]="getDoneCtrl(index)?.value && getWeightCtrl(index)?.valid && getRepsCtrl(index)?.valid ? true : false">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col offset="1" size="2" class="checkbox">

              <ion-checkbox [indeterminate]="false" aria-label="done" formControlName="done"
                (ionChange)="onInsertResult($event, index)"></ion-checkbox>

            </ion-col>
          </ion-row>
        </div>
        }
      </div>
    </form>
    <!--
    ********************************************************************************
    *****
    ***
    * Form Controls
    ***
    *****
    ********************************************************************************
    -->

  </ion-col>
</ion-row>
