<app-basis-layout [headline]="'Training in Workout: &quot;' + workoutName +  '&quot; einfügen'">
  <!--
  ********************************************************************************
  *****
  ***
  * training in workout list
  ***
  *****
  ********************************************************************************
  -->
  <div class="training-list-container">
    <ion-row>
      @if (trainings['length']) {
        <ion-col size="12">
          <ion-text>
            <h3>Trainings</h3>
          </ion-text>
        </ion-col>
      <ion-col size="12">
        <ion-list>
          @for (training of trainings;  track training) {
          <ion-item>
            {{ training.name }}
          </ion-item>
          }
        </ion-list>
      </ion-col>
      }
      @else {
      <ion-col size="12" >
       <ion-item line="none">
        <ion-text color="danger" class="m-hc ">
          Bitte füge ein oder mehrere Übungen hinzu.
        </ion-text>
       </ion-item>
      </ion-col>
      }
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-button size="" fill="clear" color="danger" class="m-hc" (click)="onShowForm()">
            <ion-icon slot="start" name="add-circle-outline" color="danger"></ion-icon>
            Training einfügen
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <!--
  ********************************************************************************
  *****
  ***
  * Training in workout form
  ***
  *****
  ********************************************************************************
  -->
  @if (isShowForm) {
  <div class="form-container">
    <form class="form" [formGroup]="trainingsInWorkoutFrom" (ngSubmit)="onSubmitTrainingsInWorkout()">
      <!--
      ****************************************
      training
      ****************************************
      -->
      isSubmit {{ isSubmit}} invalid {{ trainingCtrl?.invalid }}
      <ion-row>
        <ion-col>
          <ion-item fill="fill">
            <ion-input type="text" label="Übung" aria-label="Übung" labelPlacement="floating" formControlName="training"
              [clearInput]="true">
            </ion-input>
          </ion-item>
          <!--
            Error Message
          -->
          <div class="error-msg" *ngIf="trainingCtrl?.invalid  &&  isSubmit">
            <ion-text color="danger" *ngIf="trainingCtrl?.hasError('required')">
              Bitte gebe die Übung ein.
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <!--
      ****************************************
      goal Reps start
      ****************************************
      -->
      <ion-row>
        <ion-col size="5">
          <ion-item fill="fill">
            <ion-input type="number" label="Reps start" aria-label="Reps start" labelPlacement="floating"
              formControlName="goalRepsStart" [clearInput]="true">
            </ion-input>
          </ion-item>
        </ion-col>

        <!--
      ****************************************
      goal Reps end
      ****************************************
      -->

        <ion-col size="5" offset="2">
          <ion-item fill="fill">
            <ion-input type="number" label="Reps end" aria-label="Reps end" labelPlacement="floating"
              formControlName="goalRepsEnd" [clearInput]="true">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
           <!--
            Error Message
          -->
          <div class="error-msg" *ngIf="goalRepsEndCtrl?.invalid  &&  isSubmit">
            <ion-text color="danger" *ngIf="goalRepsEndCtrl?.hasError('required')">
              Bitte gebe die Ziel Reps an.
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <!--
          ****************************************
          Submit
          ****************************************
          -->
      <ion-row>
        <ion-col>
          <div class="elem-right submit-btn-container">
            <ion-button type="submit" expand="" color="danger" fill="outline">
              @if (isEdit) { Ändern } @else { Anlegen }
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </div>
  }
</app-basis-layout>
