<app-basis-layout headline="Home">
  <ion-row>
    <ion-col>
      <ion-accordion-group>
        <!--
        ****************************************
        Trainings
        ****************************************
        -->
        <ion-accordion value="trainings">
          <ion-item slot="header">
            <ion-label>Trainings</ion-label>
          </ion-item>
          <div class="accordion-content" slot="content">
            <ion-button
            fill="clear"
            color="danger"
            class="cursor"
            [routerLink]="'/training-list'"
            >
              <ion-text>Trainings</ion-text>
            </ion-button>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
</app-basis-layout>
