@if(translucent) {
  <ion-header [translucent]="true" class="main-header">
    <ion-toolbar color="danger" >
      <ion-title size="large"   color="light">{{ headline | titlecase }}</ion-title>
    </ion-toolbar>
  </ion-header>

}



      <ion-content [fullscreen]="true">
        @if(!translucent) {
        <ion-header class="main-header">
          <ion-toolbar color="danger">
            <ion-title size="large"   color="light">{{ headline | titlecase }} </ion-title>
          </ion-toolbar>
        </ion-header>
        }
        <ion-grid>
         <ng-content></ng-content>
        </ion-grid>
      </ion-content>



  <app-footer></app-footer>
